div
{
    border-radius: 5px;
    }
.header
{
    
    text-align: center; 
    font-style: italic;
    
    
    }
    h1{
    	color: DodgerBlue;
    }
    h3{
    	text-decoration: underline;
    }

body{
    font-family: sans-serif;
    
}
.footer{
	text-align: center;
}